/* DashboardComponent's private CSS styles. */
h2 {
  text-align: center;
  margin: 0 0 34px;
}

.heroes-card {
  max-height: 400px;
  min-width: 120px;
  max-width: 400px;
}

.heroes-header-image {
  background-image: url("src/assets/img/placeholder-landscape-med.png");
  background-size: cover;
}

.heroes-buttons {
  text-align: center;
}

button {
  margin: 10px;
}
