<h3 class="mat-display-2">Top Heroes</h3>

<mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let hero of heroes">
        <mat-card class="heroes-card">
            <mat-card-header>
                <div mat-card-avatar class="heroes-header-image"></div>
                <mat-card-title>{{hero.name}}</mat-card-title>
                <mat-card-subtitle>#{{hero.id}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Description
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="accent" routerLink="/detail/{{hero.id}}">DETAILS</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<app-hero-search></app-hero-search>
