/* DashboardComponent's private CSS styles. */
h3 {
  text-align: center;
}

.heroes-card {
  max-height: 400px;
  min-width: 120px;
  max-width: 400px;
}

.heroes-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
