/* Angular Material Design Theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Application-wide Styles */
$blue: #369;
$gray: #444;
$black: #333;
$font-family-arial: Arial, Helvetica, sans-serif;
$font-family-cambria: Cambria, Georgia;

h2,
h3 {
  color: $gray;
  font-family: $font-family-arial;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[type="text"],
button {
  color: $black;
  font-family: $font-family-cambria;
}

a {
  cursor: pointer;
  cursor: hand;
}

button {
  font-family: Arial;
  background-color: #eeeeee;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    background-color: #eeeeee;
    color: #aaaaaa;
    cursor: auto;
  }
}

/* Everywhere else */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
