/* HeroesComponent's private CSS styles */

h3 {
  text-align: center;
}

a {
  color: inherit;

  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

.add-form-field-width {
  margin: 10px;
  width: 25%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
