<mat-divider></mat-divider>

<div class="search-component">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput id="search-box" #searchBox [formControl]="searchFormControl" [matAutocomplete]="auto"
            placeholder="Hero Search">
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>Ex.: type "Bom" or "Dr."</mat-hint>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let hero of filteredHeroes | async" [value]="hero.name" (click)="goToHeroDetail(hero)">
                {{ hero.name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
